<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Libs CSS -->
<link rel="stylesheet" href="@@webRoot/assets/fonts/Feather/feather.css">
<link rel="stylesheet" href="@@webRoot/node_modules/flickity/dist/flickity.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/flickity-fade/flickity-fade.css">
<link rel="stylesheet" href="@@webRoot/node_modules/aos/dist/aos.css">
<link rel="stylesheet" href="@@webRoot/node_modules/jarallax/dist/jarallax.css">
<link rel="stylesheet" href="@@webRoot/node_modules/highlightjs/styles/vs2015.css">
<link rel="stylesheet" href="@@webRoot/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
<link rel="apple-touch-icon" sizes="57x57" href="@@webRoot/assets/img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="@@webRoot/assets/img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="@@webRoot/assets/img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="@@webRoot/assets/img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="@@webRoot/assets/img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="@@webRoot/assets/img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="@@webRoot/assets/img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="@@webRoot/assets/img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="@@webRoot/assets/img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="@@webRoot/assets/img/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="@@webRoot/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="@@webRoot/assets/img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="@@webRoot/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="@@webRoot/assets/img/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<meta name="apple-itunes-app" content="app-id=1483067743">

<!-- Map -->
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css">
<!-- endbuild -->

<!-- <title>@@pageTitle</title> -->
<title>Minutes App</title>
