<nav class="navbar navbar-expand-lg @@classList">
  @@if(type=="boxed"){<div class="container">}

    <!-- Brand -->
    <p class="nav-item">
    <a class="navbar-brand" href="@@webRoot/index.html">
      <img src="@@webRoot/assets/img/minutes/minutes-launch.png" class="navbar-brand-img" alt="Minutes App by Dynamite Apps LLC">
    </a>
    MINUTES APP</p>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" id="navbarLandings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Features
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="navbarLandings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pricing
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="minutes-privacy-policy.html" id="navbarLandings" aria-haspopup="true" aria-expanded="false">
            Privacy Policy
          </a>
        </li>
        <li class="nav-item dropdown">
          <a href="https://apps.apple.com/us/app/minutes/id1483067743?ls=1">
            <img src="@@webRoot/assets/img/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917_web.svg">
          </a>
        </li>
      </ul>
    </div>

  @@if(type=="boxed"){</div>}
</nav>
